a{
	color: #b80486;
}
a:hover{
	color: #b80486;
}
.btn-common{
    background-color: #b80486;
}
.btn-border:hover{
	background-color: #b80486;
}
.bg-defult{
	background: #b80486!important;
}
.controls .active{
	color: #b80486 !important;
    border-color: #b80486;
}
#carousel-area .carousel-control-next i, #carousel-area .carousel-control-prev i{
	background: #b80486;
}
.section-header .section-title:before{
	background: #b80486;
}
.overlay{
	background: #b80486;
}
.bg-white .navbar-nav .active{
	color: #b80486!important;
}
.menu-bg .navbar-nav .active{
	color: #b80486!important;
}
.menu-bg .navbar-nav .nav-link:hover{
	color: #b80486!important;
}
.navbar-expand-md .navbar-nav .active > .nav-link, .navbar-expand-md .navbar-nav .nav-link.active, .navbar-expand-md .navbar-nav .nav-link.active::before, .navbar-expand-md .navbar-nav .nav-link.open, .navbar-expand-md .navbar-nav .open > .nav-link{
	color: #b80486;
}
.navbar-expand-md .navbar-nav .nav-link:focus, .navbar-expand-md .navbar-nav .nav-link:hover, .navbar-expand-md .navbar-nav .nav-link:hover:before{
	color: #b80486;
}
.navbar-expand-md .navbar-nav .nav-link:before{
	background: #b80486;
}
.menu-bg .logo-menu a, .menu-bg .menu-button:hover{color: #b80486;}
.menu-wrap .navbar-nav li .active,
.menu-wrap .navbar-nav li .active::before{
	color: #b80486;
}
.menu-wrap a:hover, .menu-wrap a:focus{
	color: #b80486;
}
.icon-list a::before {
    background: #b80486;
}
#about .box-item .icon i{
	color: #b80486;
}
.item-boxes .icon{
	border-color: #b80486;
}
.item-boxes .icon i{
	color: #b80486;
}
.featured-box .featured-icon i{
	color: #b80486; 
}
.controls .mixitup-control-active{
	color: #b80486!important;
	border-color: #b80486;
}
.testimonial-item .author .author-info h2 a:hover{
	color: #b80486;
}
.testimonial-item .content-inner span{
	color: #b80486;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
	background: #b80486;
}
#subscribe .sub-item-box .icon-box i{
	color: #b80486;
}
#blog .blog-item-text h3 a:hover{
	color: #b80486;
}
.meta-tags span a:hover{
	color: #b80486;
}
.form-control:focus{
	border: 1px solid #b80486
}
#contact:before{
	background: #b80486;
}
.contact-info i{
	color: #b80486;
}
.back-to-top i{
	background-color: #b80486;
}
.single-team .social-list li a{
	color: #b80486;
}
.footer-social li a{
	background: #b80486;
}
footer .menu li a:hover{
	color: #b80486;
}
.contact-footer li span a:hover{
	color: #b80486;
}
.toggle-map{
	background-color: #b80486;
}
.toggle-map .map-icon{
	border-color: #b80486;
}
.counter-item .icon i{
	color: #b80486;
}
#google-map{
	border-color: #b80486;
}
#subscribe form input:focus{
	border-color: #b80486;
}
#copyright p a:hover{
	color: #b80486;
}
#copyright .nav-inline .nav-link:hover{
	color: #b80486;
}